  <div class="box-wrapper">
    <div class="side-bar">
    <h2>Chat Line</h2>
        <ul class="side-text">
          <li class="alist">Chat Lineは簡単シンプルなチャットアプリ</li>
          <li>利用料無料!ユーザー登録をして今すぐ使ってみよう</li>
          <li class="alist"><%= link_to "ログインはこちら", new_session_path(resource_name),class:"sign-up-side" %></li>
        </ul>
    </div>


<div class="container">
    <h2>会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ニックネーム, class:"form-text"%><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",  class:"input-default" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス, class:"form-text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"input-default" %>
      </div>

      <div class="field">
        <%= f.label :パスワード, class:"form-text" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上の入力)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",  class:"input-default" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認, class:"form-text" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",  class:"input-default" %>
      </div>

      <div class="actions">
         <p class="log-in-btn"><%= f.submit "新規登録",class:"sign-up-btn" %></p>
      </div>
    <% end %>
      <!--<div class="actions">
        <p class="log-in-btn"><%= render "devise/shared/links" %></p>
      </div>-->
   </div>
 </div>
