 <div class="box-wrapper">
    <div class="side-bar-index">
    <h2>Chat</h2>

       <%= form_with(url: search_chats_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "ユーザー検索", class: "input-box" %>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>

        <ul class="talk-room">
          <%@chat_partners.each do |chat_partner|%>
           <%=link_to "/chats/#{chat_partner.id}" do%>
           <p class="talk-room-one"><i class="fas fa-comments">　</i><%= "#{chat_partner.nickname}" %></p>
           <% end %>
          <%end%>
        </ul>
    </div>
    <div class="side-bar-index2">
    <h2>Talk Room作成</h2>
        <ul class="side-text-roomenter">
          <li>複数人数のトークはこちらから</li>
           <%=link_to rooms_path do%>
           <li class="roomenter-btn">Talk Roomページへ</li>
           <% end %>
        </ul>
        <ul class="side-login">
          <!--<li><%=link_to("ログインページ","/", class:"side-login-one")%></li>-->
          <li><%=link_to("ログアウト","/users/sign_out",method: :delete,class:"side-login-one" )%></li>
          <li><%=link_to("#{current_user.nickname}を削除", user_registration_path,method: :delete,class:"side-login-one" , data: {confirm: "ユーザーアカウントを削除しますか？"})%></li>
        </ul>
    </div>
 
  <div class="container-index">
    <h2>Chat Line使い方</h2>
     <ul class="index-text">
          <li class="index-help-chat"><span class="index-help">〜チャット機能〜</span><br>
          ユーザーと1対1でチャットができます。<br>
          日別チャットを確認できるチャットカレンダー機能搭載
          <span class="index-help2">←Chatからユーザーを選んでチャットをしてみよう！</span></li>
          
          <li class="index-help-chat2"><span class="index-help">〜トークルーム機能〜</span><br>
          Talk Roomページから新規ルームを作成し<br>グループチャットができます。<br>
          <span class="index-help2">←Talk Roomからチャットをしてみよう！</span></li>
     </ul>
  </div>
</div>
