<div class="box-wrapper">
    <div class="side-bar-index">
    <h2>Talk Room</h2>
        <ul class="talk-room">
          <%@chat_partners.each do |chat_partner|%>
           <%=link_to "/chats/#{chat_partner.id}" do%>
           <p class="talk-room-one"><i class="fas fa-comments">　</i><%= "#{chat_partner.nickname}" %></p>
           <% end %>
          <%end%>
        </ul>
    </div>

    <div class="side-bar-index2">
    <h2><%=Time.parse(@day_params).year%>年<%=Time.parse(@day_params).month%>月<%=Time.parse(@day_params).day%>日のチャット</h2>
      <%= month_calendar do |date| %>
        <%= link_to time_show_chat_path(@partner.id,date),class:"date-one" do %>
          <% if Time.parse(@day_params).day == date.day%>
            <div class="calender-one"><%= date.day %></div>
          <% else %>
            <div><%= date.day %></div>
          <% end %>
        <% end %>
      <% end %>

        <ul class="side-login">
         <li><%=link_to("全ての日を表示",chat_path(@partner.id), class:"side-login-one")%></li>
          <li><%=link_to("トップページ","/", class:"side-login-one")%></li>
          <li><%=link_to("ログアウト","/users/sign_out",method: :delete,class:"side-login-one" )%></li>
        </ul>
    </div>

    <div class="container-show">
    <h2><%="Chat With  #{@partner.nickname}"%></h2>

    <div id="chats">
      <% @chats.each do |chat|%>

      <% if Time.parse(@day_params).day == chat.created_at.day %>
        <%if chat.user_id==current_user.id%>
          <div class="mycomment">
            <p><%=chat.sentence%></p>
          </div>
        <%else%>
          <div class="fukidasi">
            <div class="faceicon">
              <%= image_tag("user.png", class:"img" )%>
            </div>
            <div class="chatting">
              <div class="says">
                <p><%=chat.sentence%></p>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
      

      <%end%>
    </div>


    <form id="send-form">
      <input type="text" id="sentence" placeholder="入力" class="text-box">
      <input type="submit" value="&#xf1d8;" id="send" class="far send-box">
      <input id="current_user_id" type="hidden" value= "<%=current_user.id%>">
      <input id="partner_id" type="hidden" value= "<%=@partner.id%>">
    </form>
  </div>
</div>