 <div class="box-wrapper-room">
    <div class="side-bar-room">
    <h2>Talk Room</h2>
           <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "ルーム検索", class: "input-box" %>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>

        <ul class="talk-room">
          <% @rooms.each do |room| %>
           <%=link_to room_path(room) do%>
           <p class="talk-room-one"><i class="fas fa-comments">　</i><%= "#{room.name}" %></p>
           <% end %>
          <%end%>
        </ul>

    </div>
    <div class="side-bar-room-calendar">

    <h2>日ごとのチャットを確認</h2>
      <%= month_calendar do |date| %>
        <%= link_to time_show_room_path(@room.id,date),class:"date-one" do %>
          
               <div class="calender-hover"><%= date.day %></div>

        <% end %>
      <% end %>

        <ul class="side-login">
          <li><%=link_to("トップページ","/", class:"side-login-one")%></li>
          <li><%=link_to("ログアウト","/users/sign_out",method: :delete,class:"side-login-one" )%></li>
          <% if @room.user_id == current_user.id %>
          <li><%=link_to("ルームを削除する", room_path,method: :delete,class:"side-login-one", data: {confirm: "このルームを削除しますか？"} )%></li>
          <% end %>
        </ul>
    </div>

    <div class="container-show-room">
    <h2><%="#{@room.name}"%></h2>

        <div id='messages' data-room_id="<%= @room.id %>">
            <% @messages.each do |message|%>
              <%if message.user_id==current_user.id%>
                <div class="mycomment">
                  <p><%=message.content%></p>
                 
                </div>
               <p class="mycomment-time"> <%=message.created_at.month%>/<%=message.created_at.day%>　<%=message.created_at.hour%>:<%= message.created_at.strftime("%M") %></p>
              <%else%>
                <div class="fukidasi">
                  <div class="faceicon">
                  
                    <%= image_tag("user.png", class:"img" )%>
                    <%=message.created_at.month%>/<%=message.created_at.day%>　<%=message.created_at.hour%>:<%= message.created_at.strftime("%M") %>
                  </div>
                 
                  <div class="chatting">
                    <div class="says">
                      <p><%=message.user.nickname%>:<br><%=message.content%></p>
                    </div>
                     
                  </div>
                </div>
              <%end%>
            <%end%>
      </div>

   <div class="room-btn">
   <%= text_field_tag :content, nil, class:"text-box",id:"message",data:{ behavior: 'room_speaker'} %>
     <form id="send-form">
      <input type="submit" value="&#xf1d8;" id="sending" class="far send-box-room">
      <input id="chat_time2" type="hidden" value= "<%=Time.now.hour%>:<%=Time.now.strftime("%M")%>">
    </form>
   </div>
  </div>
</div>
